@font-face {
    font-family: 'Pippin';
    src: url('../assets/fonts/Pippin-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pippin';
    src: url('../assets/fonts/Pippin-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
} 